.form {
    opacity: 0.6;
    background-color: white;
    width: 500px;
    height: 300px;
    border: 1px solid yellow;
    font-size: 10px;
    margin-top: 40%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}